.sidebar {
    width: 400px;
    
    .sidebar-tabs {
        background: #eee;
        padding: 20px;

        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
    
    .sidebar-content {
        padding: 20px;
    }
}